[worldserver]

########################################
# InfluxDB configuration
########################################
#
#    InfluxDB.Enable
#        Description: Enable influxdb
#        Default:     false - Disabled
#                     true  - Enabled
#

InfluxDB.Enable = true
InfluxDB.Host = http://127.0.0.1:8086
InfluxDB.Database = azerothcore
# InfluxDB.User = azerothcore
# InfluxDB.Password = azerothcore
